<h2>My Heroes</h2>
<app-hero-search></app-hero-search>
<div>
  <label>
    <input  placeholder="Add Hero" #heroName />
    <button class="btn btn-success" (click)="add(heroName.value); heroName.value=''">Add</button>
  </label>
</div>
<ul class="heroes list-group">
  <li *ngFor="let hero of heroes ">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge badge-primary">{{hero.id}}</span> {{hero.name}}</a>
      <button type="button" class="close badge-dark" aria-label="Close" (click)="delete(hero)">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
</ul>

